params {
    input_csv           = "/data/projects/2022/CRCA/results/RNA_velocity/CRC_atlas_velocyto/test/correct_batch.csv"
    gtf_file            = "/data/genomes/hg38/annotation/gencode/gencode.v44.primary_assembly.annotation.gtf"
    masked_repeats      = "/data/projects/2022/CRCA/results/RNA_velocity/CRC_atlas_velocyto/assets/hg38_rmsk.gtf"
    out_dir             = "/data/projects/2022/CRCA/results/RNA_velocity/velocyto_results/"
    publish_dir_mode    = "copy"
    run_10x             = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/profile.config'