params {
    input_csv           = "/home/fotakis/myScratch/projects/CRC_atlas_velocyto/test/batch_2.csv"
    gtf_file            = "/data/databases/CellRanger/refdata-cellranger-GRCh38-3.0.0/genes/genes.gtf"
    masked_repeats      = "/home/fotakis/myScratch/projects/Natalie/scVelo/hg38_rmsk.gtf"
    out_dir             = "/home/fotakis/myScratch/projects/CRC_atlas_velocyto/test/"
    publish_dir_mode    = 'copy'
}

includeConfig 'conf/base.config'
includeConfig 'conf/profile.config'