params {
    // for BD samples replace "batch_10X.csv" with "batch_BD.csv" 
    input_csv           = "/home/q089mt/scRNAseq/HLH_velocyto/setup/batch_BD.csv"
    gtf_file            = "/home/q089mt/scRNAseq/HLH_velocyto/setup/gencode.v44.primary_assembly.annotation.gtf"
    masked_repeats      = "/home/q089mt/scRNAseq/HLH_velocyto/setup/hg38_rmsk.gtf"
    out_dir             = "/home/q089mt/scRNAseq/HLH_velocyto/results"
    publish_dir_mode    = "copy"
    platform             = "BD"
    convert_loom        = false
    custom_loom_dir     = "/home/q089mt/scRNAseq/HLH_velocyto/results"
    sam_threads         = "10"
}

includeConfig 'conf/base.config'
includeConfig 'conf/profile.config'
